@font-face {
    font-family: 'Courier New';
    src: url('../font/cour.ttf');
}

body {
  background-color: black;
  color: #707070;
  font-family: 'Courier New';
}

main {
  height: 100vh;
}

#index-title {
  font-size: 100px;
}

a, a:hover {
  color: #707070;
}

a:hover {
  opacity: 0.5;
  text-decoration: none;
}
