@font-face {
  font-family: 'Courier New';
  src: url('../font/cour.ttf');
}

body, .card {
  background-color: black;
  color: #707070;
  font-family: 'Courier New';
}

main {
  height: 100vh;
}

#index-title {
  font-size: 100px;
}

a, a:hover, .btn-link, .btn-link:hover {
  color: #707070;
}

a:hover, .btn-link:hover, .btn-link:focus {
  text-decoration: none;
}

h2, .material-icons {
  font-size: 1rem;
}

.btn {
  line-height: normal;
}

div .card-header {
  height: 40px;
}
